* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

body {
	background: radial-gradient(#FAFAFA, #FAFAFA, #d4d3d3);
	width: 100%;
  margin: 0 auto;
}

img {
	width: 100%;
}

h2 {
	background-color: #CD9C22;
	padding: 30px 8px 30px 10px;
	font-size: 3em;
	writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
	-ms-writing-mode: vertical-lr;
	transform: rotate(180deg);
	width: 10%;
	float: left;
	margin: 20px 30px 0 0;
	border: 2px solid rgb(22, 21, 21);
}

li {
	margin: 0 25px 0 30px;
	font-size: 1.4em;
	list-style-position: inside;
	line-height: 35px;
}

footer {
	height: 280px;
	width: 100%;
	background-color: rgb(31, 30, 31);
	margin-top: 135px;
}

.header {
	width: 100%;
}

.imageHeader {
	margin-top: 2px;
	width: 100%;
}

.titleHeader {
	position: absolute;
	top: 110px;
	color: white;
	margin-left: 10px;
	width: 50%;
}
.textHeader {
	font-weight: 300;
	font-size: 4em;
	font-style: italic;
	padding: 30px;
	line-height: 65px;
	margin-top: 15px;
}

.title {
	font-size: 4em;
}

.name {
	font-weight: 900;
	font-style: italic;
}

.number {
	color:#CD9C22;
	font-weight: 100;
	font-size: 4em;
}

.line {
	border-left: 12px solid #CD9C22;
	height: 520px;
	margin-left: 150px;
	margin-right: 65px;
	border-radius: 3px;
	float: left;
}

.content {
	height: 100%;
	width: 90%;
	margin: 80px 40px 40px 10px;
	text-align: justify;
	font-size: 1.5em;
	padding-bottom: 30px;
}

.yellow {
  color: #CD9C22;
	font-weight: bolder;
	font-style: italic;
}

.presentation {
	margin-bottom: 30px;
}

.text {
	font-weight: 200;
	margin-bottom: 40px;
	font-size: 1.7em;
}

.italic {
	font-weight: 300;
	font-style: italic;
}

.paragraphe {
	font-weight: bolder;
}

.fallout {
	width: 20%;
	float: left;
	margin-left: 90px;
}

.falloutGuy {
	height: 240px;
	width: 240px;
}

.falloutInfo {
	float: right;
	margin-right: 80px;
	padding-bottom: 80px;
}

.icon {
	height: 240px;
	width: 240px;
}

.container {
	float: right;
	position: absolute;
	text-align: center;
	padding-top: 65px;
	padding-left: 30px;
	font-size: 1.5em;
	line-height: 30px;
}

.textFooter {
	text-align: center;
	color: white;
	padding-top: 30px;
	font-family: 'Lobster', cursive;
	font-size: 3rem;
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
h2 {
	padding: 10px 7px;
}
li {
	font-size: 1em;
}

	.title {
		font-size: 3em;
	}
	.number {
		font-size: 3em;
	}
	.textHeader {
		font-size: 3em;
		padding: 0;
	}
	.line {
		height: 500px;
		border-left: 10px solid #CD9C22;
	}
	.content {
		font-size: 1em;
	}
	.text {
		font-size: 1.2em;
	}
	.container {
		font-size: 1.3em;
		padding-top: 55px;
		padding-left: 36px;
	}
	.icon {
		height: 230px;
		width: 230px;
	}
	.falloutGuy {
		height: 230px;
		width: 230px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	h2 {
		padding: 10px 6px;
		font-size: 2em;
	}
	li {
		font-size: 1em;
	}
	.title {
		font-size: 2.5em;
	}
	.number {
		font-size: 2.5em;
	}
.textHeader {
	font-size: 2.4em;
	padding: 0;
	line-height: 40px;
}
.line {
	height: 500px;
	border-left: 10px solid #CD9C22;
	margin-left: 30px;
}
.content {
	font-size: 1em;
}
.text {
	font-size: 1.2em;
}
.container {
	font-size: 1em;
	padding-top: 35px;
	padding-left: 28px;
}
.icon {
	height: 180px;
	width: 180px;
}
.falloutGuy {
	height: 180px;
	width: 180px;
}
.textFooter {
	font-size: 2em;
}
}
@media screen and (min-width: 520px) and (max-width: 768px) {
	h2 {
		padding: 4px 0;
		font-size: 1.2em;
	}
	li {
		font-size: 1em;
	}
	.title {
		font-size: 1.5em;
	}
	.number {
		font-size: 1.5em;
	}
.textHeader {
	font-size: 1.5em;
	padding: 0;
	line-height: 20px;
	margin-top: 30px;
}
.line {
	height: 680px;
	border-left: 10px solid #CD9C22;
	margin-left: 30px;
}
.content {
	font-size: 1em;
}
.text {
	font-size: 1.2em;
}
.container {
	font-size: 0.8em;
	padding-top: 63px;
	padding-left: 9px;
	line-height: 18px;
}
.icon {
	height: 120px;
	width: 120px;
	padding-top: 42px;
}
.falloutGuy {
	height: 120px;
	width: 120px;
	padding-top: 42px;
}
.textFooter {
	font-size: 2em;
}
}
@media screen and (min-width: 320px) and (max-width: 520px) {
	h2 {
		padding: 4px 0;
		font-size: 1.2em;
	}
	li {
		font-size: 1em;
	}
	.title {
		font-size: 1.5em;
	}
	.titleHeader {
		top: 44px;
		width: 100%;
	}
	.number {
		font-size: 1.5em;
	}
.textHeader {
	font-size: 1.5em;
	padding: 0;
	line-height: 20px;
	margin-top: 30px;
}
.line {
	height: 680px;
	border-left: 10px solid #CD9C22;
	margin-left: 30px;
}
.content {
	font-size: 1em;
}
.text {
	font-size: 1.2em;
}
.container {
	font-size: 0.8em;
	padding-top: 63px;
	padding-left: 9px;
	line-height: 18px;
}
.icon {
	height: 120px;
	width: 120px;
	padding-top: 42px;
}
.falloutGuy {
	height: 120px;
	width: 120px;
	padding-top: 42px;
	padding-left: 50px;
}
.textFooter {
	font-size: 2em;
}
.fallout {
	width: 100%;
}
}
